html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  width: 100%;

  flex: 50%;
}

.flex-item-right {
  flex: 50%;
}
.container {
  border-style: solid;
  border-width: medium;
  border-color: black;
  position: relative;
  text-align: center;
  color: white;
}
.top-row {
  height: 50%;
}
.bottom-row-left {
  height: 100%;
}
.img {
  max-width: 100%;
  height: auto;
}
.bottom-row {
  height: 50vh;
}
.bot-right-primary {
  height: 50vh;
  width: 100vh;
}

.text-block {
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -95%);
  background-color: white;
  color: black;
}
/* .bot-right {
  width: 45%;
  height: 45%;
  float: left;
  display: inline;
  margin: 0px 0px 10px 10px;
  background-color: white;
} */

button {
  display: inline-block;
}

.sizes {
  display: flex;
}
.size {
  display: inline-block;
  width: 25%;
  flex: 50%;
}
.counter {
  display: flex;
  justify-content: center;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  .bot-right {
    flex: 50%;
  }
}
